* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%;
    --color-text: hsla(240, 6%, 21%, 1);
    --color-active-background: #02799D;
    --bg-color: #121214;


}



.container {

    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.timer {
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    margin-bottom: 1.063rem;
    display: flex;
    color: var(--text-color);

}

.controls {
    display: flex;
    justify-content: space-between;

}

/*o botão svg tem dois path entao para qye ele fique quando clicar de outra cor e mostrar a figura de dentro é 
necessario colocar o :first-child
que vai ser referente ao primeiro path e o  :last-child vai ser referente ao segundo path*/

.active svg path:first-child{
    fill: var(--color-active-background);
    
}

.active svg path:last-child{
    fill: white;
    
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.hide{
    display: none;
}
.elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border: none;
}

body {
    display: grid;
    min-height: 100vh;
    
    
}

main {
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    gap: 12rem;

   
}

@media screen and (max-width:800px) {
    main{
        flex-direction: column; 
    }
    
    
}